{
  "parser": "babel-eslint",
  "extends": ["airbnb", "prettier", "prettier/react"],
  "plugins": ["react-hooks"],
  "rules": {
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn"
  },
  "globals": {
    "document": "readonly",
    "window": "readonly",
    "describe": "readonly",
    "it": "readonly",
    "expect": "readonly"
  }
}
