.pokemonProfile {
  padding: 1rem;
  margin: auto;
  max-width: 320px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-row-gap: 1rem;
  border: 1px solid black;
  background-color: $card-bg;
  margin-top: 5%;
  color: $text-info;
}

.pokemonProfile__close {
  justify-self: end;
}

.pokemonProfile__image {
  justify-self: center;
}

.pokemonProfile__name {
  font-weight: 500;
  justify-self: center;
  margin: 0;
  padding: 0;
  text-transform: capitalize;
  font-size: 1rem;
}
